@import url("../App.css");

#navbar ul {
    position: relative;
    width: 950px;
    padding: 8px 0 0 0;
    column-count: 4;
}

#navbar div {
    width: 950px;
}

#navbar ul li {
    zoom: 1;
    height: 63px;
}