.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#header {
  width: 950px;
  height: 129px;
  margin: 0 auto;
  position: relative;
}

.header-logo {
  position:absolute;
  left:0;
  top: 29px;
}

.header-p{
  position:absolute;
  right: 0;
  top: 40px;
  font-size:10px; text-align: right;
  color: #333333;
}

#header ul {
  position:absolute;
  right: 0;
  top: 75px;
}

#header ul li {
  float: left;
}

img {
  border:0;
}

li {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

#navbar {
  height: 79px;
  margin: 0 auto;
  background-color: #685372;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
